@model HRMS.Models.ViewModel.DetailReportViewModel
@{
    Layout = "../Shared/_layout.cshtml";
    ViewBag.Title = "Employee Detail Report";

}
<link rel="stylesheet" href="~/css/datepicker.css"/>
<style>
    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    body {
        /*font-weight:bold;*/
        color: darkslategrey;
    }

    input {
        background-color: rgba( 173,216,230, 0.4);
        font-size: 14px;
        font-weight: bold
    }

    select {
        background-color: rgba( 173,216,230, 0.4);
        font-size: 14px;
        font-weight: bold
    }

    input:focus {
        background-color: rgba(249,98,159, 0.2);
    }

    select:focus {
        background-color: rgba( 173,216,230, 0.4);
    }

    .size {
        height: 30px;
        width: 128px;
    }

    .rounded-corners {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid green;
    }

    .sizesmall {
        height: 30px;
        width: 78px;
    }

    .sizel {
        height: 30px;
        width: 400px;
    }

    .rounded-corners2 {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid #4a35b0;
        background-color: #ece9fb;
    }

    .rounded-corners1 {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid #7f2917;
        background-color: #f2dfb7;
        color: #7f2917
    }

    .itemtab {
        font-family: Arial, Helvetica, sans-serif;
        /*font-size: 15px;*/
        border-collapse: collapse;
        width: 1000px;
    }

        .itemtab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 250px;
        }

        .itemtab td {
            border: 2px solid #ddd;
            padding: 8px;
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
            font-size: 12px
        }

        .itemtab td, th {
            width: 1000px;
        }

        .itemtab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .itemtab tr:hover {
            background-color: #ddd;
        }

        .itemtab th {
            border: 2px solid white;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
            font-size: 14px;
            /*background-color: #04AA6D;*/
            background-color: #0437F2;
            color: white;
            position: sticky;
            top: 0;
        }

    tab1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .tab1 tbody {
        display: block;
        width: 200px;
        overflow: auto;
        height: 300px;
        text-align: center;
    }

    .tab1 td, .tab1 th {
        border: 1px solid #ddd;
        padding: 8px;
        border-collapse: collapse;
        width: 200px;
    }

    .tab1 tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .tab1 tr:hover {
        background-color: rgba(255, 182, 193, 0.2);
    }

    .tab1 th {
        padding: 8px;
        text-align: center;
        background-color: #145f9f;
        font-size: 12px;
        color: white;
        position: sticky;
        top: 0;
        border: 2px solid white;
    }
</style>
<form asp-controller="Report" asp-action="DetailReport" method="post" enctype="multipart/form-data">
    <div class="heading mt-2">
        Employee Wise (Detail/Summary) Attendance Report
    </div>
    <div class="mt-3">
        <table align="center" class="rounded-corners1" style="font-weight:bold">

            <tr>
                <td>
                    From Date:@Html.TextBoxFor(p => p.from_date, new { @class = "size", @id = "datepicker1" })
                    To Date : @Html.TextBoxFor(p => p.to_date, new { @class = "size", @id = "datepicker2" })
                    Employee Id : @Html.DropDownListFor(p => p.employee_id, new SelectList(Model.empiddesc, "Value", "Text"), new { @class = " w-30" })

                </td>
            </tr>
            <tr>
                <td>
                    Total Days:
                    @Html.TextBoxFor(p => p.tot_days_in_month, new { @class = "size" })
                    Sundays:
                    @Html.TextBoxFor(p => p.sundays, new { @class = "size" })
                    Holidays:
                    @Html.TextBoxFor(p => p.holidays, new { @class = "size" })
                    Op-Holidays:
                    @Html.TextBoxFor(p => p.op_holidays, new { @class = "size" })
                    Leaves:
                    @Html.TextBoxFor(p => p.leaves_taken, new { @class = "size" })
                    LOP:
                    @Html.TextBoxFor(p => p.lop, new { @class = "size" })
                    Total Working Day:
                    @Html.TextBoxFor(p => p.total_working_days, new { @class = "size" })
                </td>
            </tr>
            <tr>
                <td>
                    <input id="BtnRefresh" type="button" name="BtnRefresh" Height="40" Width="100" class="btn btn-primary pull-right" value="Refresh" onclick="GetDetailReport()" />
                </td>
                <td>
                    <input id="BtnExcelSummary" type="button" name="BtnExcelSummary" Height="40" Width="100" class="btn btn-primary pull-right" value="Download Summary Excel Report" onclick="GetSummaryReportExcel()" />
                </td>
                <td>
                    <input id="BtnExcelDetail" type="button" name="BtnExcelDetail" Height="40" Width="100" class="btn btn-primary pull-right" value="Download Detail Excel Report" onclick="GetDetailReportExcel()" />
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <table POITable class="itemtab">
                        <tbody id="attendancelist">
                        </tbody>
                    </table>
                </td>
                <td>
                    <table POITable class="tab1">
                        <tbody id="leavelist">
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</form>
@*}*@
@section scripts
{

    <script src="~/js/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {




            $('#datepicker1').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });

            $('#datepicker2').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });

            //$("#datepicker1").datepicker({ dateFormat: "dd/mm/yyyy" }).datepicker("setDate", new Date());
            //$("#datepicker2").datepicker({ dateFormat: "dd/mm/yyyy" }).datepicker("setDate", new Date());
        });



        function GetDetailReport() {

            //alert("ok");

            let ModelObject = {
                employee_id: $('#employee_id').val(),
                from_date: $('#datepicker1').val(),
                to_date: $('#datepicker2').val()
            };

          //alert(JSON.stringify(ModelObject));
            $.ajax({

                type: "POST",

                url: '@Url.Action("GetDetailAttendanceReport", "Report")',

                data: ModelObject,
                dataType: "json",
                success: function (data) {
                    document.getElementById("attendancelist").innerHTML = data.tableelement;
                    document.getElementById("leavelist").innerHTML = data.tableelement1;
                    $('#tot_days_in_month').val(data.tot_days_in_month);
                    $('#sundays').val(data.sundays);
                    $('#holidays').val(data.holidays);
                    $('#op_holidays').val(data.op_holidays);
                    $('#leaves_taken').val(data.leaves_taken);
                    $('#lop').val(data.lop);
                    $('#total_working_days').val(data.total_working_days);


                },
                error: function (err) {
                    alert("Unable To Calculate");
                }

            });
        }

        function GetDetailReportExcel() {
            if ($("#datepicker1").val() == "" || $("#datepicker1").val() == null) {
                alert("From Date Cannot Be Blank");
            }
            else if ($("#datepicker2").val() == "" || $("#datepicker2").val() == null) {
                alert("To Date Cannot Be Blank");
            } else {
                window.location.href = "@Url.Action("getxlfileForDetailAttendance", "Report")" + "?employee_id=" + $("#employee_id").val() + "&from_date=" + $("#datepicker1").val() + "&to_date=" + $("#datepicker2").val();
            }
        }

        function GetSummaryReportExcel() {
            if ($("#datepicker1").val() == "" || $("#datepicker1").val() == null) {
                alert("From Date Cannot Be Blank");
            }
            else if ($("#datepicker2").val() == "" || $("#datepicker2").val() == null) {
                alert("To Date Cannot Be Blank");
            }
            else {
                window.location.href = "@Url.Action("getxlfileForSummaryAttendance", "Report")" + "?from_date=" + $("#datepicker1").val() + "&to_date=" + $("#datepicker2").val();
            }


        }


    </script>
}